<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Generate Keys</title>
</head>
<style>
    form{
        width:40%;
        margin-top: 20%;
        margin-left: 20%;
        border-style: solid;
        border-width: 5px;
        border-radius: 30px;
    }
#main > div,button{
    margin-top:20px;
    margin-bottom: 10px;
    margin-left:20%;
    margin-rigth:20%;
    max-width:100%;

}
#main > div > label{
    display:inline-block;
    width:20%;
}
</style>
<body>
    <form id="main">
        <div>
            <label>Gateway ID</label>
            <input type="text">
        </div>
        <div>
            <label>Username</label>
            <input type="text">
        </div>

        <button type="submit" style="width:37%;">Submit</button>
    </form>
</body>
</html>